<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
    <title>
      DEEPi Cluster Control App
    </title>
  </head>
  
  <body>
    <h1>DEEPi Cluster Control App</h1>

    <ul>
      <li>
	<form action="/cmd/">
	  127.20.150.190
	  <input type="hidden" name="host" value="127.20.150.190" >
	  <input type="hidden" name="port" value="3000" >
	  <input type="submit" name="command" value="stream()">
	  <input type="submit" name="command" value="capture()">
	  <input type="submit" name="command" value="deploy()">
	  <input type="submit" name="command" value="shutdown()">
	</form>
      </li>
      <li>
	<form action="/cmd/">
	  127.20.150.190
	  <input type="hidden" name="host" value="127.20.150.190" >
	  <input type="hidden" name="port" value="3000" >
	  <input type="submit" name="command" value="stream()">
	  <input type="submit" name="command" value="capture()">
	  <input type="submit" name="command" value="deploy()">
	  <input type="submit" name="command" value="shutdown()">
	</form>
      </li>
      <li>
	<form action="/cmd/">
	  127.20.150.190
	  <input type="hidden" name="host" value="127.20.150.190" >
	  <input type="hidden" name="port" value="3000" >
	  <input type="submit" name="command" value="stream()">
	  <input type="submit" name="command" value="capture()">
	  <input type="submit" name="command" value="deploy()">
	  <input type="submit" name="command" value="shutdown()">
	</form>
      </li>
    </ul>
    
  </body>

</html>


